.bg-footer-image {
    background-image: url('https://img.freepik.com/vector-gratis/fondo-banner-abstracto-negocios-rojo-formas-onduladas-degradado-fluido-post-diseno-vectorial_1340-22789.jpg'); /* Reemplaza '/ruta/al/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover;
  }

  .footer-background {
    background: linear-gradient(to right, #60a5fa, #3b82f6, #2563eb); /* Los tres tonos de azul */
  }
  