@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Londrina+Outline&display=swap");

@font-face {
  font-family: "MiFuentePersonalizada"; /* Nombre que le asignas a tu fuente */
  src: url("../../../public/Arialic\ Hollow.ttf") format("truetype"); /* Ruta a tu archivo .ttf */
}

.subt {
  width: 80%;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
.port {
  /*font-family: "Oswald", sans-serif;*/
  font-size: 60px;
  font-family: "MiFuentePersonalizada", sans-serif;
  font-weight: bolder;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.922); 
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent; /* Hace el interior del texto transparente */
}
.prueba {
  width: 100%;
  padding-top: calc(100vh);
}

.testy {
  top: 70%;
  width: 100%;
  padding: 2%;
}

.mapax {
  position: relative;
  margin-top: 4px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  /*
  grid-template-columns: 1fr ;
  grid-template-rows: 50% 50%;
  */
  gap: 2%;
}

@media (max-width: 480px) {
  .subt {
    width: 90%;
    font-size: 23px;
    position: absolute;
    top: 16%;
  }
  .linex {
    position: absolute;
    top: 26%;
    width: 78%;
  }
  .port {
    font-size: 43px;
    position: absolute;
    top: 30%;
  }
  .mapax {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center; /* Centrar el texto */
}

.modal-title {
  color: #ff0000; /* Texto rojo */
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-body {
  color: #000; /* Texto negro */
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-close {
  background-color: #ff0000; /* Fondo rojo para el botón de cerrar */
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
